name: GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Init Hermit
        run: ./bin/hermit env -r >> $GITHUB_ENV

      - name: Install MkDocs deps
        run: |
          just docs-build

      - name: Generate Go API docs (gomarkdoc)
        run: |
          just docs-api

      - name: Deploy to gh-pages
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: just docs-deploy
